.help-block {
  margin-bottom: 0px;
}
/*Подсвечиваем поля краным при ошибках*/
.form-group.has-error .help-block {
  color: #dd4b39;
}
.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
  border-color: #dd4b39;
  box-shadow: none;
}
.form-group.has-error label {
  color: #dd4b39;
}
/*Отмечатем звёздочкой поля обязательные для заполнения*/
div.required > label:after {
  content: " *";
  color: red;
}
/*Стили для колонки управления записями*/
.grid-view td.action-column {
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.1em;
  max-width: 7em;
  width: 140px;
}
a.workshop-link {
  font-weight: bold;
  color: #0056b3;
  text-decoration: none;
}
a.btn-a {
  text-decoration: none;
  color: #ffffff;
}
.tooltip-inner {
  text-align: left;
  min-width: 100px;
  max-width: 100%;
}
a.a-color-blue {
  color: #007bff;
  text-decoration: none;
}
a.a-color-blue:hover {
  color: #0056b3;
  text-decoration: none;
}
.hide {
  display: none !important;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.clock .del {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
.curs span {
  display: none;
}
.curs span:first-child {
  display: inline;
}
.custom-file-label::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f0c6";
}
.ui-datepicker {
  z-index: 3 !important;
}
.hint-block,
.help-block {
  color: #6c757d;
  font-size: 0.7rem;
}
.back-to-top {
  z-index: 1033;
  bottom: 3rem;
}
#chat-bot {
  bottom: 3rem;
  position: fixed;
  right: 4rem;
  z-index: 1033;
}
.chat-bot-sidebar {
  color: white;
}
.chat-bot-sidebar a {
  color: white;
}
